<header class="ontario-header">
  <div>
    <a class="navbar-brand" href="http://www.ontario.ca">
      <img src="assets/ontario-design-system/logos/ontario-logo--desktop.svg" height="55px" [title]="'lang.ontario.logo' | translate" alt="'lang.ontario.logo' | translate" />
    </a><div></div>
</div>
<div class="ontario-header__language-toggler" text-align='right'>
  <a href="/?lang=fr" class="ontario-header" hreflang="fr" style="font-size:1.5em;color: white;text-align:right;">Français</a>
  </div>
</header>




