<!--<bs-modal #confirmModal [keyboard]="false" [backdrop]="'static'" [cssClass]="cssClass">
    <bs-modal-header show-close="true">
        <h4 class="modal-title">{{ title }}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <span [innerHTML]="content"></span>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" id="btn_{{ confirmButton }}" class="btn btn-primary" data-dismiss="modal" *ngIf="confirmButton" (click)="closeModal(true)">{{ confirmButton }}</button>
        <button type="button" id="btn_{{ cancelButton }}"class="btn btn-default" data-dismiss="modal" *ngIf="cancelButton" (click)="closeModal(false);">{{ cancelButton }}</button>
    </bs-modal-footer>
</bs-modal>
-->
<div></div>